.mat-card {
  margin: 20px;
}
.mat-icon {
  margin-right: 20px;
}
.header-feed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .data {
    background: #00afd2;
    color: white;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    display: flex;
    div {
      padding: 0 10px;
    }
  }
}
.agrup-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .header-feed {
    display: block;
  }
}