<div>
    <div class="data">
        <span class="date">Fecha: 25 nov</span>
        <span class="cat">Categoria: Prueba</span>
    </div>
    <h4><a href="#">Titulo del Artículo</a></h4>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et ante lorem. Maecenas id velit odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean pulvinar porta urna, sit amet ultrices felis dignissim
        nec. In cursus consequat lacus in accumsan.<a href="#">Leer más</a>
    </p>
</div>
