$message-border: #169dd2;
$message-background: #16b0d2;
$text-color: #fff;

.snackbar {
  border-radius: 2px;
  padding: 1.25rem;
  min-width: 22rem;
  background-color: $message-background;
  border: 1px solid $message-border;

  .action-button {
    color: $message-border;
    cursor: pointer;
  }
  .close {
    color: $message-border;
  }

  .left-icon {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    .icon {
      font-family: "Monstserrat";
      font-size: 1.5rem;
      margin-left: -5px;
    }
  }

  .snackbar-container {
    display: grid;
    grid-template-columns: 5% 90% 5%;
  }

  .snackbar-title {
    //font-family: "SantanderText-Bd", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: bold;
    color: $text-color;
  }

  .snackbar-subtitle {
    //font-family: "Santander Text", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: $text-color;
  }

  .snackbar-actions {
    justify-self: end;
  }

  .close {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: none;
    min-width: 0;
    padding: 0;
    .icon-close {
      font-size: x-large;
      font-weight: bold !important;
    }
  }
}
