/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Generic styles
@import '../styles/progress-spinner';

@import '~@angular/material/theming';
$asobal-fonts: "Montserrat", sans-serif;
$custom-typography: mat-typography-config($font-family: $asobal-fonts);
@include mat-core($custom-typography);

// GENERAL
html {
  min-height: 100%;
  position: relative;
  font-family: $asobal-fonts;
}

body {
  background: #f7f8f8;
  height: 100%;
  margin: 0;
}

$color-01: #002c58; 
$color-02: #00afd2;

.mat-spinner circle {
  stroke: $color-01;
}

.mat-badge-warn .mat-badge-content {
  background: $color-02;
}

.mat-snack-bar-container {
  padding: 0 !important;
}
