<mat-list role="list">
    <mat-list-item role="listitem">
        <a [routerLink]="['/asobal']" class="menu-option">Inicio</a>
    </mat-list-item>
    <mat-list-item role="listitem">
        <a [routerLink]="['/asobal']" class="menu-option">Competiciones</a>
        </mat-list-item>
    <mat-list-item role="listitem">
        <a [routerLink]="['/asobal']" class="menu-option">Equipos</a>
    </mat-list-item>
    <mat-list-item role="listitem">
        <a [routerLink]="['/asobal']" class="menu-option">Jugadores</a>
    </mat-list-item>
    <mat-list-item role="listitem">
        <a [routerLink]="['/asobal']" class="menu-option">Perfil</a>
    </mat-list-item>
</mat-list>